{% form_theme createForm 'bootstrap_5_horizontal_layout.html.twig' %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	New
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New Submission</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				{{ form_widget(createForm.Date.day, {
                    'attr': {'style': 'display:none'}
                }) }}
				<div class="input-group">
					<span class="input-group-text">Submission Date</span>
					{{ form_widget(createForm.Date.month) }}
					{{ form_widget(createForm.Date.year) }}
				</div>
			</div>

			<div class="modal-footer">
				{{ form_widget(createForm.Create) }}
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
			{{ form_rest(createForm) }}
		</div>
	</div>
</div>
