{% extends 'nav.base.html.twig' %}
{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
{% import _self as formMacros %}

{% macro printOperation(operations) %}

<tr>
	<td>{{ form_widget(operations.Category) }}</td>
	<td>{{ form_widget(operations.Description) }}</td>
	<td>{{ form_widget(operations.Hours) }}</td>
	<td>{{ form_widget(operations.Priority) }}</td>
	<td>{{ form_widget(operations.Status) }}</td>
</tr>

{% endmacro %}

{% macro printProject(projects) %}

<tr>
	<td>{{ form_widget(projects.Name) }}</td>
	<td>{{ form_widget(projects.Description) }}</td>
	<td>{{ form_widget(projects.TargetHours) }}</td>
	<td>{{ form_widget(projects.Priority) }}</td>
	<td>{{ form_widget(projects.Status) }}</td>
</tr>

{% endmacro %}

{% macro printMisc(misc) %}

<tr>
	<td>{{ form_widget(misc.Task) }}</td>
	<td>{{ form_widget(misc.Description) }}</td>
	<td>{{ form_widget(misc.TargetHours) }}</td>
	<td>{{ form_widget(misc.Comment) }}</td>
</tr>

{% endmacro %}

{% block title %}New Submission
{% endblock %}

{% block content %}

	{{ form_start(form) }}
	{{ form_errors(form) }}

	{{ form_widget(form.submission) }}

		{# Operations Table #}
		<table class="table">
			<thead>
				<tr>
					<th class="col" scope="col">Category</th>
					<th class="col" scope="col">Description</th>
					<th class="col" scope="col">Hours</th>
					<th class="col" scope="col">Priority</th>
					<th class="col" scope="col">Status</th>
				</tr>
			</thead>
			<tbody class="operations" data-index="{{ form.operations|length > 0 ? form.operations|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printOperation(form.operations.vars.prototype)|e('html_attr') }}"></tbody>
		</table>
		<button type="button" class="btn btn-primary bg-light; add_item_link" data-collection-holder-class="operations">Add Operation</button>

		{# Projects Table #}
		<table class="table">
			<thead>
				<tr>
					<th class="col" scope="col">Name</th>
					<th class="col" scope="col">Description</th>
					<th class="col" scope="col">Target Hours</th>
					<th class="col" scope="col">Priority</th>
					<th class="col" scope="col">Status</th>
				</tr>
			</thead>
			<tbody class="projects" data-index="{{ form.projects|length > 0 ? form.projects|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printProject(form.projects.vars.prototype)|e('html_attr') }}"></tbody>
		</table>
		<button type="button" class="btn btn-primary bg-light; add_item_link" data-collection-holder-class="projects">Add Project</button>

		{# Miscellaneous Table #}
		<table class="table">
			<thead>
				<tr>
					<th class="col" scope="col">Task</th>
					<th class="col" scope="col">Description</th>
					<th class="col" scope="col">Target Hours</th>
					<th class="col" scope="col">Comment</th>
				</tr>
			</thead>
			<tbody class="miscellaneous" data-index="{{ form.miscellaneous|length > 0 ? form.miscellaneous|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printMisc(form.miscellaneous.vars.prototype)|e('html_attr') }}"></tbody>
		</table>
		<button type="button" class="btn btn-primary bg-light; add_item_link" data-collection-holder-class="miscellaneous">Add Other</button>
		
		<br>
	
	{{ form_widget(form.Submit, {'attr': {'class': 'mt-3 btn btn-success'}}) }}
	
	{{ form_end(form) }}

	{% endblock %}
