{% import _self as formMacros %}
{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
{% macro printOperation(operations) %}

	<tr class="deleteable">
		<td>{{ form_widget(operations.Category) }}</td>
		<td>{{ form_widget(operations.Description) }}</td>
		<td>{{ form_widget(operations.Hours, {'attr': {'class': 'opHour'}}) }}</td>
		<td>{{ form_widget(operations.Priority) }}</td>
		<td>{{ form_widget(operations.Status) }}</td>
	</tr>

{% endmacro %}

{% macro printProject(projects) %}

	<tr class="deleteable">
		<td>{{ form_widget(projects.Name) }}</td>
		<td>{{ form_widget(projects.Description) }}</td>
		<td>{{ form_widget(projects.TargetHours, {'attr': {'class': 'projectHour'}}) }}</td>
		<td>{{ form_widget(projects.Priority) }}</td>
		<td>{{ form_widget(projects.Status) }}</td>
	</tr>

{% endmacro %}

{% macro printMisc(misc) %}

	<tr class="deleteable">
		<td>{{ form_widget(misc.Task) }}</td>
		<td>{{ form_widget(misc.Description) }}</td>
		<td>{{ form_widget(misc.TargetHours, {'attr': {'class': 'miscHour'}}) }}</td>
		<td>{{ form_widget(misc.Comment) }}</td>
	</tr>

{% endmacro %}

{# {% block javascripts %} #}
    {# {{ parent() }} #}
{# {% endblock %} #}

{% block javascripts %}
    {{ encore_entry_script_tags('submission') }}
<script>
function calcSubmission() {
    totalworkhours.value=Number(8.4*((parseFloat(submission_task_form_submission_Workdays.value) || 0)-(parseFloat(submission_task_form_submission_PlannedAbsences.value) || 0)-(parseFloat(submission_task_form_submission_FurtherAbsences.value) || 0))).toFixed(2)
    hourstoplan.value=Number((parseFloat(totalworkhours.value)||0)*0.8).toFixed(2)
    opHourTarget.value=Number((parseFloat(hourstoplan.value) || 0 )*0.6).toFixed(2)
    projectHourTarget.value=Number((parseFloat(hourstoplan.value) || 0)*0.4).toFixed(2)
}
</script>
<body onload="calcSubmission()">
{% endblock %}

{{ form_start(form, {'attr': {'oninput': 'calcSubmission()'} }) }}
{{ form_errors(form) }}

<div class="row g-3">

	{# General #}
	<div class="container">
		<div class="row row-cols">
			<div class="me-auto col-auto">
				<h1>
					{{ subMonth|date('F') }}
				</h1>
			</div>
			<div class="col-sm-auto">
				<label for="submission_task_form_submission_Workdays" class="form-label">Workdays</label>
				{{ form_widget(form.submission.Workdays) }}
			</div>
			<div class="col-sm-auto">
				<label for="submission_task_form_submission_PlannedAbsences" class="form-label">Planned absences</label>
				{{ form_widget(form.submission.PlannedAbsences) }}
			</div>
			<div class="col-sm-auto">
				<label for="submission_task_form_submission_FurtherAbsences" class="form-label">Further absences</label>
				{{ form_widget(form.submission.FurtherAbsences) }}
			</div>
			<div class="col-sm-auto">
				<div class="row">
					<div class="col">
						<div class="input-group" style="width: max-content;">
							<span class="input-group-text bg-light" style="width: 10rem;">Total hours work</span>
							<output class="form-control text-end" style="width: 5em;" id="totalworkhours" name="totalworkhours" for="submission_task_form_submission_Workdays submission_task_form_submission_PlannedAbsences submission_task_form_submission_FurtherAbsences"></output>
						</div>
						<div class="mt-1 input-group" style="width: max-content;">
							<span class="input-group-text bg-light" style="width: 10rem;">Hours to plan</span>
							<output class="form-control text-end" style="width: 5em;" id="hourstoplan" for="totalworkhours"></output>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# Operations Table #}
	<div class="p-3 border rounded-3" style="background-color: #fcfcfc;">
		<table class="table table-sm table-borderless">
			<thead class="border-bottom">
				<tr>
					<th class="col-2" scope="col">
						<h3>Operations</h1>
					</th>
					<th class="col-10 text-end" scope="col">Target</th>
					<th class="col-auto" scope="col">
						<output name="result" id="opHourTarget" for="hourstoplan">0</output>
					</th>
					<th class="col-auto" scope="col"></th>
					<th class="col-auto" scope="col"></th>
					<th class="col-1" scope="col"></th>
				</tr>
				<tr>
					<th class="col-2" scope="col">Category</th>
					<th class="col-10" scope="col">Description</th>
					<th class="col-1" scope="col">Hours</th>
					<th class="col-1" scope="col">Priority</th>
					<th class="col-1" scope="col">Status</th>
					<th class="col-1" scope="col"></th>
				</tr>
			</thead>
			<tbody class="operations" data-index="{{ form.operations|length > 0 ? form.operations|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printOperation(form.operations.vars.prototype)|e('html_attr') }}">
				{% for operation in form.operations %}
					{{ formMacros.printOperation(operation) }}
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td>
						<input class="form-control" id="opHourSum" type="text" value="0" disabled readonly>
					</td>
					<td></td>
					<td></td>
					<td>
						<button type="button" class="btn btn-outline-success bg-light; add_item_link" data-collection-holder-class="operations">+</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	{# Projects Table #}
	<div class="p-3 border rounded-3" style="background-color: #fcfcfc;">
		<table class="table table-sm table-borderless">
			<thead class="border-bottom">
				<tr>
					<th class="col-2" scope="col">
						<h3>Projects</h3>
					</th>
					<th class="col-10 text-end" scope="col">Target</th>
					<th class="col-auto" scope="col">
						<output name="result" id="projectHourTarget" for="hourstoplan">0</output>
					</th>
					<th class="col-auto" scope="col"></th>
					<th class="col-auto" scope="col"></th>
					<th class="col-1" scope="col"></th>
				</tr>
				<tr>
					<th class="col-2" scope="col">Name</th>
					<th class="col-10" scope="col">Description</th>
					<th class="col-auto" scope="col">Hours</th>
					<th class="col-auto" scope="col">Priority</th>
					<th class="col-auto" scope="col">Status</th>
					<th class="col-1" scope="col"></th>
				</tr>
			</thead>
			<tbody class="projects" data-index="{{ form.projects|length > 0 ? form.projects|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printProject(form.projects.vars.prototype)|e('html_attr') }}">
				{% for project in form.projects %}
					{{ formMacros.printProject(project) }}
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td><input class="form-control" id="projectHourSum" type="text" value="0" disabled readonly></td>
					<td></td>
					<td></td>
					<td>
						<button type="button" class="btn btn-outline-success bg-light; add_item_link" data-collection-holder-class="projects">+</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	{# miscellaneouses Table #}
	<div class="p-3 border rounded-3" style="background-color: #fcfcfc;">
		<h3>Others</h3>
		<table class="table table-sm table-borderless">
			<thead class="border-bottom">
				<tr>
					<th class="col-3" scope="col">Task</th>
					<th class="col-7 flex-grow" scope="col">Description</th>
					<th class="col-1" scope="col">Hours</th>
					<th class="col-4" scope="col">Comment</th>
					<th class="col-1" scope="col"></th>
				</tr>
			</thead>
			<tbody class="miscellaneouses" data-index="{{ form.miscellaneouses|length > 0 ? form.miscellaneouses|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printMisc(form.miscellaneouses.vars.prototype)|e('html_attr') }}">
				{% for misc in form.miscellaneouses %}
					{{ formMacros.printMisc(misc) }}
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td><input class="form-control" id="miscHourSum" type="text" value="0" disabled readonly></td>
					<td></td>
					<td>
						<button type="button" class="btn btn-outline-success bg-light font-monospace; add_item_link" data-collection-holder-class="miscellaneouses">+</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class="mt-3 d-flex">
	{{ form_widget(form.Submit, {'attr': {'class': 'ms-auto btn btn-lg btn-outline-success'}}) }}
</div>

{{ form_end(form) }}
