{% block title %}Evaluation
{% endblock %}

{% extends 'nav.base.html.twig' %}

{% set evaluationlink = 'active' %}

{% block javascripts %}
	{{ encore_entry_script_tags('evaluation') }}
{% endblock %}

{% block content %}

	<div class="container-xxl">
		<div class="row">
			<div class="col-auto mt-2">
				<div class="p-3 bg-white shadow-sm" style="width: 9rem;" >
					<h5 class="border-bottom pb-3 text-center">Timeline</h5>

					{% for year, months in subsYearMonth %}
						<ul class="list-unstyled ps-0">
							<li class="mb-1">
								<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-{{ year }}" {% if loop.first %} aria-expanded="true" {% else %} aria-expanded="false" {% endif %}>
									{{ year }}
								</button>
								<div {% if loop.first %} class="collapse show" {% else %} class="collapse" {% endif %} id="collapse-{{ year }}">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										{% for month in months %}
											<li>
												<a href="{{ path('submission_evaluation_month') }}" class="ajax link-dark rounded" year="{{ year }}" month="{{ month|date('m') }}">{{ month|date('F') }}</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</li>
						</ul>
					{% endfor %}
				</div>
			</div>
			<div class="col flex-column">

				<div class="d-flex flex-column mt-2 p-3 bg-white shadow-sm">
					<div id="ajax-results">
                        <h1>Evaluation</h1>
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
